.project {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.project h1 {
  margin-top: 20px;
  color: #2f3b70;
  font-size: 35px;
}

.project a {
  margin-top: 20px;
  color: #2f3b70;
  font-size: 30px;
}


.project img {
  width: 400px;
  border-radius: 10px;
}

.project p {
  font-size: 30px;
  color: #2f3b70;
}

.project svg {
  font-size: 60px;
  color: #2f3b70;
}
